<div class="mx-auto text-center">
    <h1 class="text-5xl mb-2 mx-auto" style="font-weight: normal; font-family: 'Alfa Slab One', cursive;">New Article</h1>
    
    <%= render 'form' %>
    
    <%= link_to 'Back', articles_path %>
</div>
